<footer class="footer d-flex flex-column justify-content-around align-items-center border-danger border p-3 mt-3">
    <div class="social-icons fs-5 d-flex justify-content-center ">
        <i class="ri-facebook-box-fill mx-1"></i>
        <i class="ri-whatsapp-fill mx-1"></i>
        <i class="ri-instagram-fill mx-1"></i>
    </div>

    <div class="copyright">
        All copyrights are reserved
    </div>
</footer>