<%- layout("./layouts/boilerplate.ejs"); %>

<div class="alert-div mt-5 text-center row col-lg-8 offset-2">
    <div class="alert alert-warning col-lg-10 offset-1" role="alert">
        <%= message %>
      </div>
</div>